@font-face {
  font-family: Avenir-Bold;
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: Avenir-Regular;
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: Avenir-It;
  src: url('../assets/fonts/AvenirNextLTPro-It.otf');
}

body {
  margin: 0;
  font-family: Avenir-Regular;
  background: var(--white);
}

code {
  font-family: Avenir-Regular;
}


:root{
  --blue1: "#00578D";
  --blue2: "#0077BD";
  --blue3: "#00AEB2";
  --blue4: "#00F6FF";
  --yellow: "#EFF683";
  --white: "#D3D3D3";
  --black: "#040000";
  --green: "#78C143";
  --bluegreen: "#0D8488";
}
